#add     /*add*/
{
    height: 30px;
    width: 75px;
    background-color: #5cb85c;
    color: white;
    border: 1px solid black;
    margin-left: 5px;
}
#del     /*delete*/
{
    height: 30px;
    width: 75px;
    background-color: #d9534f;
    color: white;
    border: 1px solid black;
    margin-left: 5px;
}

#viewall 	/*View All*/
{
	height: 30px;
    width: 75px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    margin-left: 5px;
}

#previous    
{
    height: 30px;
    width: 75px;
    background-color: #5cb85c;
    color: white;
    border: 1px solid black;
    float: right;
}
#next  
{
    height: 30px;
    width: 75px;
    background-color: #d9534f;
    color: white;
    border: 1px solid black;
    margin-left: 5px;
    float: right;
}
#examine     
{
    font-size: 16px;
    height: 20px;
    border: none;
    color: red;
    background: none;
    /*background-color: #eef1f8;*/
}
#update   
{
    font-size: 16px;
    height: 20px;
    border: none;
    color: red;
    background: none;
    /*background-color: #eef1f8;*/
}
#submit    
{
    height: 30px;
    width: 75px;
    background-color: #5cb85c;
    color: black;
    border: 1px solid #dadee1;
}
#addCancel   
{
    height: 30px;
    width: 75px;
    background-color: white;
    color: black;
    border: 1px solid #dadee1;
    margin-left: 5px;
}
#preservation   
{
    height: 30px;
    width: 75px;
    background-color: #5cb85c;
    color: black;
    border: 1px solid #dadee1;
}
#updateCancel    
{
    height: 30px;
    width: 75px;
    background-color: white;
    color: black;
    border: 1px solid #dadee1;
    margin-left: 5px;
}
#examineCancel    
{
    height: 30px;
    width: 75px;
    background-color: white;
    color: black;
    border: 1px solid #dadee1;
    /*margin-left: 5px;*/
}
#confirm  
{
    height: 30px;
    width: 75px;
    background-color: #5cb85c;
    color: black;
    border: 1px solid #dadee1;
}
#delCancel 
{
    height: 30px;
    width: 75px;
    background-color: white;
    color: black;
    border: 1px solid #dadee1;
    margin-left: 5px;
}

#stockcontrol  
{
    height: 70px;
    width: 120px;
    background-color: #6495ED;
    color: F0F8FF;
    border: 1px solid black;
    margin-left: 2px;
}

#cart 
{
    height: 70px;
    width: 120px;
    background-color: #6495ED;
    color: F0F8FF;
    border: 1px solid black;
    margin-left: 5px;
}
#GoBack
{
    height: 30px;
    width: 70px;
    background-color: #6495ED;
    color: F0F8FF;
    border: 1px solid black;
    margin-left: 5px;
}
