.products {
  display: flex;
  justify-content: space-evenly;
}

#cart-breakdown-container {
  display: none;
  position: absolute;
  background: #617ece;
  padding: 12px;
  color: white;
  text-align: center;
}
#Cart
{
    height: 20px;
    width: 80px;
    background-color: #5cb85c;
    color: white;
    border: 1px solid black;
    margin-left: 5px;
}
#B
{
    height: 20px;
    width: 80px;
    background-color: #d9534f;
    color: white;
    border: 1px solid black;
    margin-left: 5px;
}
#C
{
    height: 20px;
    width: 80px;
    background-color: #d9534f;
    color: white;
    border: 1px solid black;
    float: right;
}
#D
{
    height: 20px;
    width: 80px;
    background-color: #d9534f;
    color: white;
    border: 1px solid black;
    margin-left: 5px;
    float: right;
}
#totalBackground{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c4c2c1;
    z-index:1;
    opacity:.8;
}
#total
{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-color: #f0ece9;
    border-top: 8px #f0ece9 solid;
    padding-left: 20px;
    padding-right: 20px;
}

#top
{
    height: 40px;
}

.headerLine
{
    width: 400px;
    display: inline;
    color: #c3a080;
    font-size: 25px;
}

#header
{
    width: 400px;
    display: inline;
    color: #9ea09e;
    font-size: 20px;
    padding-left: 112px;
    padding-right: 112px;
}
#GoBack
{
    height: 30px;
    width: 70px;
    background-color: #6495ED;
    color: F0F8FF;
    border: 1px solid black;
    margin-left: 5px;
}
