#ViewAllBlock
{
    width: 420px;
    height: 400px;
    display: none;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: white;
    border-radius: 5px;
    z-index:2;
    /*overflow: auto;*/
}

#ViewAllHeader
{
    background-color: black;
    color: white;
    font-family: 黑体;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

#ViewALLMain
{
    height: 280px;
	padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadee1;
}
#ViewAllMain p
{
    font-size: 20px;
}
#ViewALLMessage
{
    font-size: 20px;
}